<nav>
  <div class="images">
    <img
      src="	https://fsx1.itstep.org/api/v1/files/KI8ivg78U08nXDGDQ-O_18P1-0F49u4b"
      alt="logo"
    />
  </div>
  <div class="line"></div>
  <ul>
    <li *ngIf="!showmobilemenu">
      <a routerLink="/home" [routerLinkActive]="active">Home</a>
    </li>
    <li *ngIf="!showmobilemenu">
      <a routerLink="/rooms" [routerLinkActive]="active">Rooms</a>
    </li>
    <li *ngIf="!showmobilemenu">
      <a routerLink="/hotels" [routerLinkActive]="active">Hotels</a>
    </li>
    <li *ngIf="!showmobilemenu">
      <a routerLink="/bookedrooms" [routerLinkActive]="active">Booked Rooms</a>
    </li>
  </ul>


  <div class="logreg">
     <li><a *ngIf="isAuth" (click)="logout()">Log out</a></li>
    <a routerLink="/register" *ngIf="!isAuth">Register</a>
    <a routerLink="/login"*ngIf="!isAuth" >Login</a>
  
  </div>

  <div class="burger" (click)="showhidemenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

 
</nav>

<div class="mobilemenu" *ngIf="showmobilemenu">
  <ul>
    <li><a (click)="hidemenu()" routerLink="/home">Home</a></li>
    <li><a (click)="hidemenu()" routerLink="/rooms">Rooms</a></li>
    <li><a (click)="hidemenu()" routerLink="/hotels">Hotels</a></li>
    <li><a (click)="hidemenu()" routerLink="/bookedrooms">Booked Rooms</a></li>
  </ul>
</div>
