.line{
    width: 2px;
    height: 100%;
    background-color: gray;
}
nav{
    // background-color: aqua;
  
    justify-content: space-between;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    gap: 50px;
    box-shadow: 3px 3px 3px 3px gray;
    ul{
        width: 70%;
        display: flex;
        list-style: none;
        gap: 30px;
        justify-content: center;
        li{
            a{
                text-decoration: none;
            }
        }
    }
    
.burger{
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;

    .line{
        width: 35px;
        height: 2px;
        background-color: black;
    }

}
}
.images{
    width: 100px;
    display: flex;
    justify-content: center;
    
}
.mobilemenu{
     height: 40vh;
     background-color: burlywood;
     width: 100%;
    ul{
       
        display: flex;
        list-style: none;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        li{
            a{
                text-decoration: none;
            }
        }
    }
}



@media screen and(max-width: 900px) {
 
 
}