 
<nav>
    <div class="images">
        <img src="	https://fsx1.itstep.org/api/v1/files/KI8ivg78U08nXDGDQ-O_18P1-0F49u4b" alt="logo">
    </div>
    <div class="line"></div>
    <ul >
        <li *ngIf = "!showmobilemenu"><a routerLink="home" >Home</a></li>
        <li *ngIf = "!showmobilemenu"><a routerLink="rooms">Rooms</a></li>
        <li *ngIf = "!showmobilemenu"><a routerLink="hotels">Hotels</a></li>
        <li *ngIf = "!showmobilemenu"><a routerLink="Bookedrooms">Booked Rooms</a></li>
    </ul>
    <div class="burger"(click)="showhidemenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>

</nav>


<div class="mobilemenu" *ngIf = "showmobilemenu">
    <ul>
        <li><a routerLink="home" >Home</a></li>
        <li><a routerLink="rooms" >Rooms</a></li>
        <li><a routerLink="hotels" >Hotels</a></li>
        <li><a routerLink="Bookedrooms" >Booked Rooms</a></li>
    </ul>
</div>