
<div class="citiesBtns">
  <button>All</button>
  @for(city of cities; track $index){
       <button>{{city}}</button>
  }
</div>


<!-- @for (let hotel of hotelarr; track hotel.id) { -->
<div class="roomboxesdiv">
    <div *ngFor="let el of hotelarr" class="roombox01">
  <div class="divimage">
    <img [src]="el.featuredImage" alt="poto">
  </div>
  <div class="divtitleprise">
    <div class="divtitle">
      <p>{{el.name}}</p>
    </div>
    <div class="divprise">
      <!-- <p>prise</p> -->
     
    </div>
  </div>
  <div class="divbooknow">
    <button routerLink="/rooms/{{el.id}}">VIEW ROOMS</button>
  </div>
  </div>

<!-- } -->

