.divbut {
  width: 100px;
  // height: 200px;
  // background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 10px;
}
.checkinbox {
  width: 100%;
//   height: 80vh;
//   background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .divcont{
    width: 90%;
    height: 150px;
    background-color: aqua;
    display: flex;
    .leftdiv{
        width: 50%;
        height: 150px;
        background-color: chartreuse;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .sityimage{
            width: 50px;
            height: 50px;
            background-color: black;
        }
        // .sitytitle{
        //     width: 150px;
        //     height: 10px;

        // }
    }
    .rightdiv{
         width: 50%;
        height: 150px;
        background-color: rgb(148, 150, 175);
        display: flex;
        justify-content: center;
        align-items: center;
        .box1{
            width: 100px;
            height: 10px;
        }
      


    }

  }
  
}
