<div class="divbut">
  <button class="buball">all</button>
  <button>Tbilisi</button>
</div>
<div class="checkinbox">

  <div class="divcont" *ngIf="myBook != null">
    <div class="leftdiv">
      <div class="sityimage"></div>
      <div class="diname">
        <h4>Hotel</h4>
         <p>Redison</p>
      </div>
      <div class="diname">
        <h4>Room</h4>
         <p>Double Room</p>
      </div>
      <div class="diname">
        <h4>costumer</h4>
         <p>Tbilisi</p>
      </div>
    </div>

    <div class="rightdiv">
        <div class="box1">
            <h4> checkin</h4> 
            <p>{{ myBook.checkInDate | date:'yyyy-MM-dd'}}</p>
            

        </div>
        <div class="box1">
            <h4> checuout</h4>
            <p>{{ myBook.checkOutDate | date:'yyyy-MM-dd' }}</p>
            
        </div>
        <div class="box1">
            <h4>Total price</h4>
            <p>{{ myBook.totalPrice }}$</p>
            
            
        </div>
        <div class="box1">
            
            <button (click)="cancelBook()">CANCEL BOOKING</button>
            
        </div>
        
    </div>
  </div>

  
  <div *ngFor="let book of booked" class="divcont">
    <div class="leftdiv">
      <div class="sityimage"></div>
      <div class="diname">
        <h4>Hotel</h4>
         <p>redison</p>
      </div>
      <div class="diname">
        <h4>Room</h4>
         <p>price</p>
      </div>
      <div class="diname">
        <h4>costumer</h4>
         <p>Tbilisi</p>
      </div>
    </div>

    <div class="rightdiv">
        <div class="box1">
            <h4> checkin</h4> 
            <p>{{book.checkInDate | date:'yyyy-MM-dd'}}</p>
            

        </div>
        <div class="box1">
            <h4> checuout</h4>
            <p>{{book.checkOutDate | date:'yyyy-MM-dd'}}</p>
            
        </div>
        <div class="box1">
            <h4>Total price</h4>
            <p>{{ book.totalPrice }}$</p>
            
            
        </div>
        <!-- <div class="box1">
            
            <button>CANCEL BOOKING</button>
            
        </div> -->
        
    </div>
  </div>
</div>
