<div class="seehotels"></div>
<div class="favoriteline1">
  <div class="line001"></div>
  <p>Guests Favorite Rooms</p>
  <div class="line001"></div>
</div>

<div class="roomboxesdiv"></div>
<div class="favoriteline1">
  <div class="line001"></div>
  <p>USP section</p>
  <div class="line001"></div>
</div>

<div class="uspsection">
  <div class="matherricle">
    <div class="ricle"><i class="fa-solid fa-mug-hot"></i></div>
    <h3>Beverages included</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      interdum eleifend augue, quis rhoncus purus fermentum.
    </p>
    <a href="">Read more...</a>
  </div>
  <div class="matherricle">
    <div class="ricle"><i class="fa-solid fa-money-bill"></i></div>
    <h3>Stay First, Pay After!</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      interdum eleifend augue, quis rhoncus purus fermentum.
    </p>
    <a href="">Read more...</a>
  </div>
  <div class="matherricle">
    <div class="ricle"><i class="fa-regular fa-clock"></i></div>
    <h3>24 Hour Restaurant</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      interdum eleifend augue, quis rhoncus purus fermentum.
    </p>
    <a href="">Read more...</a>
  </div>
  <div class="matherricle">
    <div class="ricle"><i class="fa-solid fa-droplet"></i></div>
    <h3>Spa Included!</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      interdum eleifend augue, quis rhoncus purus fermentum.
    </p>
    <a href="">Read more...</a>
  </div>
  <div class="cpace"></div>
</div>
