<div class="booking" *ngIf="room != undefined">
  <div class="car">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="room.images[0].source" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="room.images[1].source" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="room.images[2].source" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="bookingForm">
    <h3> price per night : {{room.pricePerNight}} $</h3>
   
    <input type="date" required [(ngModel)]="startDate">
    <input type="date" required [(ngModel)]="endDate">
    <input type="text" placeholder="EnTer Name " required [(ngModel)]="name">
    <input type="text" placeholder="EnTer Number" required [(ngModel)]="phoneNumber" >

    <button (click)="bookRoom(room.id)" >
      Book
    </button>

  </div>
</div>
