<div class="divfiltre">
  <div class="searchroom">
    <button (click)="all()">All</button>
    <button (click)="filterwytype(1)">Single Room</button>
    <button (click)="filterwytype(2)" >Double Room</button>
    <button (click)="filterwytype(3)">Deluxe Room</button>
  </div>
  <div class="divinput">
    <input type="range" />
    <input placeholder="Select a Room" type="text">
  
   <input type="date" />
    <input type="date" />
     <input placeholder="Guests" type="number" />
     <div class="butfitereded">
      <button>APPLY FILTER</button>
      <button>RESET</button>
     </div>



  </div>
</div>

<div class="roomboxesdiv">
  @for(room of rooms; track room.id){
  <div class="roombox01">
    <div class="divimage">
      <img alt="poto" [src]="room.images[0].source" />
    </div>
    <div class="divtitleprise">
      <div class="divtitle">
        <p>{{ room.name }}</p>
      </div>
      <div class="divprise">
        <p>{{ room.pricePerNight }}</p>
      </div>
    </div>
    <div class="divbooknow">
      <button routerLink="/booking/{{ room.id }}">BOOK NOW</button>
    </div>
  </div>

  }
</div>
