<div class="divfiltre">
  <div class="searchroom">
    <button (click)="all()" [ngClass]="{'active': roomType === 0}">All</button>
    <button (click)="filterwytype(1)" [ngClass]="{'active': roomType === 1}">Single Room</button>
    <button (click)="filterwytype(2)" [ngClass]="{'active': roomType === 2}">Double Room</button>
    <button (click)="filterwytype(3)" [ngClass]="{'active': roomType === 3}">Deluxe Room</button>
  </div>
  <div class="divinput">
    <div class="range">
      <input type="range" min="0" max="1000" [(ngModel)]="priceRange" />
      <p>Max Price: {{ priceRange }}</p>
    </div>
    <select name="" id="" [(ngModel)]="roomType">
      <option value="0" selected>Choose Type</option>
      <option value="1">Single Room</option>
      <option value="2">Double Room</option>
      <option value="3">Deluxe Room</option>
    </select>

    <input type="date" [(ngModel)]="startDate" />
    <input type="date" [(ngModel)]="endDate" />
    <input placeholder="Guests" type="number" [(ngModel)]="guestsNumber" />
    <div class="butfitereded">
      <button (click)="filter()">APPLY FILTER</button>
      <button (click)="all()">RESET</button>
    </div>
  </div>
</div>

<div class="roomboxesdiv">
  @for(room of rooms; track room.id){
  <div class="roombox01">
    <div class="divimage">
      <img alt="poto" [src]="room.images[0].source" />
    </div>
    <div class="divtitleprise">
      <div class="divtitle">
        <p>{{ room.name }}</p>
      </div>
      <div class="divprise">
        <p>{{ room.pricePerNight }}</p>
      </div>
    </div>
    <div class="divbooknow">
      <button routerLink="/booking/{{ room.id }}">BOOK NOW</button>
    </div>
  </div>

  }
</div>
